	<div id="hero">
			<div class="container">
					<div class="col-md-6 col-sm-12">
							<h1 class="text-uppercase text-md-left title">Find your <br><span class="highlight">opportunity</span></h1>
							<hr class="breaker text-md-left">
							<h4 class="text-md-left sub-title">Hired matches outstanding people with the world's most innovative companies.</h4>
							<div class="hero-buttons">
									<a href="#" class="btn btn-success">I want to get hired</a>
									<a href="#" class="btn btn-primary">I want to hire</a> 
							</div>
					</div>
			</div>
	</div>

	<div class="feature-wrapper">
			<div class="container">
					<div class="row">
							<div class="col-md-6 col-sm-12 col-lg-6 text-md-left">
									<hr class="breaker">
									<h2 class="text-uppercase feature-1">Better <br> matching for the<br> <span class="highlight">right fit</span></h2>
									<p class="feature-1-desc">We simplify your search by connecting the right people with the right companies at the right time.</p>
							</div>
							<div class="col-md-6 col-sm-12 col-lg-6 text-center text-md-left">
									<div class="row">
											<div class="col-md-12 col-sm-12 col-lg-12 text-md-left sider">
													<h3 class="tag-line">Motivated</h3>
													<p class="tag-line-desc">Hired exists for people actively looking for their next opportunity and companies actively hiring.</p>
													<div class="horizontal-breaker"></div>
											</div>
											<div class="col-md-12 col-sm-12 col-lg-12 text-md-left sider">
													<h3 class="tag-line">Algorithmic matching</h3>
													<p class="tag-line-desc">Our machine-learning algorithms take the guesswork out of finding the right fit, and make smarter matches over time.</p>
													<div class="horizontal-breaker"></div>
											</div>
											<div class="col-md-12 col-sm-12 col-lg-12 text-md-left sider">
													<h3 class="tag-line">Human expertise</h3>
													<p class="tag-line-desc">Our talent experts support both people and companies with unbiased advice, proprietary insights, and support.</p>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>

	<div class="roles-wrapper">
			<div class="container">
					<div class="row">
							<div class="col-md-12 col-sm-12 col-lg-6 roles">
									<hr class="breaker-white">
									<h1 class="roles-header">ROLES THAT MAKE AN IMPACT</h1>
									<p class="roles-text">We believe the right person is out there for each opportunity. That’s why we’re reinventing the job search so both sides can find their match with confidence.</p>
									<a href="#" class="btn btn-white">Get Started</a>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-6 call-action-side">
									<!--<img src="assets/images/side-img.jpg" alt="call to action">-->
							</div>
					</div>
			</div>
	</div>

	<div class="jobs-wrapper">
			<div class="container">
					<div class="row">
							<div class="col-md-12 col-sm-12 col-lg-12">
								<h1 class="jobs-header">WE'RE HERE TO HELP EVERYONE FIND A JOB <br>THEY LOVE</h1>
								<hr class="breaker">
								<h3 class=jobs-subheader>Thousands of companies build teams with phenomenal people they find on Hired</h3>
							</div> 
					</div>
					<div class="row companies">
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/addroil.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/collective.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/deliveroo.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/evernote.png" alt="">
						</div>
					</div>
					<div class="row companies">
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/groupon.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/lookout.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/mixpanel.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/super.png" alt="">
						</div>
					</div>
					<div class="row companies">
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/transferwise.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/weebly.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/whisper.png" alt="">
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<img src="../../../assets/images/zappos.png" alt="">
						</div>
					</div>	
			</div>
	</div>