@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
// Variables
$primary: #003580;
$secondary: #00acf0;
$text-color: #7c90a6;
$white: #FFFFFF;
$darker: #323241;
$background: #e5e9ed;

// login styles
form {
  font-family: 'Open Sans', sans-serif;
}
.form-container {
    font-family: 'Open Sans', sans-serif;
    display:block;
    width:90%;
    padding:2em;
    margin: 2em auto;
    background:#fff;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

.button {
    margin-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-size: 2em;
    color: $darker;
    font-family: 'Open Sans', sans-serif;
}


@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}